.bicep_curl {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 35px;
}

#curls_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#curls_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_curls {
  padding: 8px 15px;
  margin-top: 15px;
}

.arm_exercises>h2 {
  font-family: Arial;
  font-size: 20pt;
  margin-left: 50px;
}

.chin_up {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 30px;
  border-radius: 35px;
}

#chin_up_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#chin_up_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_chin_ups {
  padding: 8px 15px;
  margin-top: 15px;
}

.dips {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 35px;
}

#dips_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#dips_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_dips {
  padding: 8px 15px;
  margin-top: 15px;
}

.triceps {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 30px;
  border-radius: 35px;
}

#triceps_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#triceps_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_triceps {
  padding: 8px 15px;
  margin-top: 15px;
}

.bar_curl {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 35px;
}

#bar_curl_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#bar_curl_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_bar_curl {
  padding: 8px 15px;
  margin-top: 15px;
}
