/* calorie intake is for the drop down list of the food*/

#calorie_intake > select{
  padding: 6px 200px;
  font-size: 16pt;
  border-radius: 12px;
  margin: auto;
  display: block;
  margin-top: 100px;
  text-align: center;
}

/*drop down list for the quantity of the food*/
.quantitiy > select {
  padding: 6px 120px;
  font-size: 16pt;
  border-radius: 12px;
  margin-top: 40px;
  margin-left: 325px;
  float: left;
  text-align: center;
}

/*button to add food*/
#add_food{
  margin-top: 40px;
  margin-left: 140px;
  padding: 10px 20px;
  font-size: 12pt;
}

/*header to alert the user that they can enter their food manually*/
.option_header{
  font-size: 32pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

/*input to enter food name manually*/
#enter_food{
  padding: 6px 20px;
  font-size: 16pt;
  margin-top: 40px;
  margin-left: 325px;
}

/*input to enter calories manually*/
#manual_calories{
  padding: 6px 20px;
  font-size: 16pt;
  margin-left: 25px;

}

/*button to add food manually*/
#manual_entry{
  padding: 10px 20px;
  font-size: 12pt;
  margin: auto;
  display: block;
  margin-top: 60px;
  margin-bottom: 60px;
}
