/*button that will take you to the arms exercises*/
#arms {
  font-size: 22pt;
  padding: 75px 75px;
  margin-left: 400px;
  margin-top: 50px;
}
/*button that will take you to the leg exercises*/
#legs {
  font-size: 22pt;
  padding: 75px 75px;
  margin-left: 65px;
  margin-top: 50px;
}

/*button that will take you to the upper body exercises*/
#upper_body {
  font-size: 22pt;
  padding: 75px 32px;
  margin-left: 400px;
  margin-top: 50px;
}

/*button that will take you to the lower body exercises*/
#lower_body {
  font-size: 22pt;
  padding: 75px 32px;
  margin-left: 65px;
  margin-top: 50px;
}

/*button that will take you to the cardio exercises*/
#cardio {
  font-size: 22pt;
  padding: 75px 75px;
  margin: auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* the rest of these are a hover element which will make them become bigger once hovered over*/
#arms:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#legs:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#upper_body:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#lower_body:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#cardio:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
