/* This is the css for all of the exercises that you will see in the exercise tab,
the name of the exercise is the same name as the class and the sets, reps, and button
to add the exercise are also named appropiatly*/

.bicep_curl {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 35px;
}

#curls_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#curls_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_curls {
  padding: 8px 15px;
  margin-top: 15px;
}

.arm_exercises>h2 {
  font-family: Arial;
  font-size: 20pt;
  margin-left: 50px;
}

.chin_up {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 30px;
  border-radius: 35px;
}

#chin_up_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#chin_up_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_chin_ups {
  padding: 8px 15px;
  margin-top: 15px;
}

.dips {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 35px;
}

#dips_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#dips_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_dips {
  padding: 8px 15px;
  margin-top: 15px;
}

.triceps {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 30px;
  border-radius: 35px;
}

#triceps_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#triceps_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_triceps {
  padding: 8px 15px;
  margin-top: 15px;
}

.bar_curl {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 35px;
}

#bar_curl_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#bar_curl_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_bar_curl {
  padding: 8px 15px;
  margin-top: 15px;
}

.leg_press {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 35px;
}

#leg_press_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#leg_press_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_leg_press {
  padding: 8px 15px;
  margin-top: 15px;
}

.squat {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 35px;
}

#squat_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#squat_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_squat {
  padding: 8px 15px;
  margin-top: 15px;
}

.dead_lift {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 35px;
}

#dead_lift_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#dead_lift_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_dead_lift {
  padding: 8px 15px;
  margin-top: 15px;
}

.leg_extension {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 35px;
}

#leg_extension_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#leg_extension_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_leg_extension {
  padding: 8px 15px;
  margin-top: 15px;
}

.bench_press {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 30px;
  border-radius: 35px;
}

#bench_press_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#bench_press_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_bench_press {
  padding: 8px 15px;
  margin-top: 15px;
}

.bent_over_row {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 35px;
}

#bent_over_row_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#bent_over_row_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_bent_over_row {
  padding: 8px 15px;
  margin-top: 15px;
}

.press_up {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 35px;
}

#press_up_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#press_up_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_press_up {
  padding: 8px 15px;
  margin-top: 15px;
}

.high_pull {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 35px;
}

#high_pull_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#high_pull_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_high_pull {
  padding: 8px 15px;
  margin-top: 15px;
}

.crunch {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 35px;
}

#crunch_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#crunch_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_crunch {
  padding: 8px 15px;
  margin-top: 15px;
}

.ball_twist {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 35px;
}

#ball_twist_sets {
  margin-top: 10px;
  padding: 12px 20px;
}

#ball_twist_reps {
  margin-left: 20px;
  margin-top: 10px;
  padding: 12px 20px;
}

#add_ball_twist {
  padding: 8px 15px;
  margin-top: 15px;
}

.plank {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 35px;
}

#plank_seconds {
  margin-top: 10px;
  padding: 12px 20px;
}

#add_plank {
  padding: 8px 15px;
  margin-top: 15px;
}

.running {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 35px;
}

#running_minutes {
  margin-top: 10px;
  padding: 12px 20px;
}

#add_running {
  padding: 8px 15px;
  margin-top: 15px;
}

.rowing {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 35px;
}

#rowing_minutes {
  margin-top: 10px;
  padding: 12px 20px;
}

#add_rowing {
  padding: 8px 15px;
  margin-top: 15px;
}

.cycling {
  width: 180px;
  height: 180px;
  float: left;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 35px;
}

#cycling_minutes {
  margin-top: 10px;
  padding: 12px 20px;
}

#add_cycling {
  padding: 8px 15px;
  margin-top: 15px;
}
