.wrapper {
  margin: 0 auto;
  width: 1300px;
  overflow: hidden;
}
.wrapper{
  background-color: white;
  opacity:0.93;
  margin-bottom: 40px;
}
.wrapper{
  margin-top:10px;
}

.Logo {
  background-color: #e0e0e0;
  border-bottom: black solid 5pt;
}

body {
  margin: 0;
  height: 100%;
}

.combo1 {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.topnav {
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: #323232;
  text-align: center;
}

.topnav > button {
  overflow: hidden;
  background-color: #323232;
  align-content: center;
}

.topnav > button{
  float: none;
  text-align: center;
  padding: 25px 50px;
  font-size: 30px;
  border: 0;
}

.topnav > button {
  text-decoration: none;
  color: #f2f2f2;
  padding-right: 40px;
  padding-left: 40px;
}

.topnav button:hover {
  background-color: #ddd;
  color: black;
  padding: 25px 40px;
}

#CalorieCounter{
  font-size: 70pt;
  font-family: Arial;
}

#CalorieCounter{
  margin-top: 300px;
  margin-left: 200px;
  float: left;

}

.countertext{
  font-size: 25pt;
}

#CalorieButton{
  padding: 10px 25px;
  font-size: 14pt;
  margin-top: 300px;
  margin-left: 200px;
  float: left;

}

#ExerciseCounter{
  font-size: 70pt;
  font-family: Arial;
}

#ExerciseCounter{
  margin-top: 300px;
  margin-right: 200px;
  float:right;

}

.countertext{
  font-size: 25pt;
}

#ExerciseButton{
  padding: 10px 25px;
  font-size: 14pt;
  margin-top: 300px;
  margin-right: 200px;
  float:right;
}

#Edit_calories{
  padding:8px 20px;
  margin-left: 250px;
  float: left;
  position: absolute;
}

#Edit_exercises{
  padding:8px 20px;
  margin-right: 242px;
  float: right;
  position: absolute;
}



.food_tab{
  display: none;
}

.exercise_tab{
  display: none;
}

.plans{
  display: none;
}

.arm_exercises{
  display: none;
}

.leg_exercises{
  display: none;
}
.upper_body_exercises{
  display: none;
}
.lower_body_exercises{
  display: none;
}
.cardio_exercises{
  display: none;
}
.history_page{
  display: none;
}
